.DS_Store

.env

frontDashboard/package-lock.json
node_modules
frontDashboard/next-env.d.ts
.next

.vscode

sinkConnect/ssl

sinkConnect/log

__pycache__

sinkConnect/decrypt_log

sinkConnect/ojdbc8.jar